#button-view{
  z-index: 5;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  cursor: pointer;
  transition: z-index 300s ease-out;
  border-radius: 100rem;
}

.clicked-btn{
  z-index: -1000;
  transition: z-index 300s ease-out;
}

.fact-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    color: #fff;
    text-align: center;
  }

  img{
    max-width: 40rem;
    margin-top: 2rem;
  }

  p,
  small{
    color: #fff;
    margin-top: 2rem;
  }
}
